<div class="edit_container">
  <div class="profile_container">
    <div class="profile_box">

      <h2>アカウント編集</h2>


      <hr size="1px" color="#e7e7e7">

      <div class="mb-3">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.label :name %>
            <%= f.text_field :name ,class:"profile_textfield form-control" %> <br>

            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control"%><br>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
            <% end %>

            <%= f.label :password %> <i> <small>(<%= @minimum_password_length %>文字以上、変更する場合のみ入力)</small> </i>
            <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control"%>
              <br>

            <%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation, autocomplete: "new-password" ,class:"form-control"%><br>

            <%= f.label :current_password %> <i> <small> (確認のため現在のパスワードを入力)</small></i>
            <%= f.password_field :current_password,class:"form-control"%>

            <div class="actions" >
              <%= f.submit "更新" %>
            </div>

            <div class="back_btn" >
              <%= link_to "戻る", :back %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
