<div class="create">
  <p>新規登録</p>
  <div class="errormesse">※パスワードは<%= @minimum_password_length %>文字以上</div>
  <br>

  <div class="create_form">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="errormesse">
        <%= render "devise/shared/error_messages", resource: resource %>
      </div>

      <div class="mb-3">
        <%= f.label :name%><br />
        <%= f.text_field :name, autofocus: true, autocomplete: "name",class:"form-control", placeholder:"必須" %>
      </div>

      <div class="mb-3">
        <%= f.label :email%><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,class:"form-control", placeholder:"必須"%>
      </div>

      <div class="mb-3">
        <%= f.label :password%>
        <% if @minimum_password_length %>
        <% end %>
          <%= f.password_field :password, autocomplete: "new-password" ,class:"form-control", placeholder:"必須"%>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation%><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control", placeholder:"必須" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>


  </div>
</div>
