<!DOCTYPE html>
<html>
  <head>
    <title>ShareRoom</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header-right-nav">
      <div class="nav-item">
          <%= link_to "トップ", rooms_path %>
          <%= link_to 'ルーム登録', new_room_path%>
          <%= link_to '登録済みルーム', rooms_show_path%>
      </div>
    </div>
    <%= yield %>
    <footer>
      <h1>Hello World!</h1>
    </footer>
  </body>

</html>
